.vgrid {
    width: 100%;
    display: block;
    padding: 0;
}

.vrow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.vcol {
    padding-left: 4px;
    padding-right: 4px;
}

.vc-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.vc-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .vrow {
        margin-left: 0;
        margin-right: 0;
    }
    .vcol {
        padding-left: 0;
        padding-right: 0;
    }
    .vm-4,
    .vm-8 {
        display: block;
    }
    .vm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .vm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .vrow {
        margin-left: 0;
        margin-right: 0;
    }
    .vcol {
        padding-left: 0;
        padding-right: 0;
    }
    .vl-4,
    .vl-8 {
        display: block;
    }
    .vl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .vl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

.vrow h2 {
    background-color: red;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .chat {
    padding: 50px 1% 50px 1%;
} */
.hr {
    background-color: #e5e4e8;
    display: flex;
    padding-left: 5px;
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.chat-preview {
    width: 100%;
    background: #f0f4f8;
}

.chat-preview--top {
    border-bottom: 1px solid rgba(213, 217, 222, 1);
    padding-bottom: 10px;
}
.information {
    padding: 2%;
    display: flex;
}
.information h4 {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
}
.information-img img {
    width: 55px;
    border-radius: 50%;
}
.information-info {
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.information-info-name {
    padding-left: 10px;
    font-weight: bold;
}
.information-info-status {
    font-size: 14px;
    padding-left: 15px;
    display: flex;
}
.information-info-status-icon {
    margin-top: 2px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.search {
    width: 100%;
    padding: 2%;
}
.search * {
    border-radius: 5px;
}
.search input {
    width: 80%;
    padding: 2%;
}
.search button {
    background-color: #009ee4;
    width: 20%;
    padding: 2%;
}

.chat-preview--body {
    height: calc(100vh - 205px);
    overflow-y: auto;
    padding-top: 10px;
}
.chat-preview--body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
.chat-preview--body-unit {
    width: 100%;
    padding: 2%;
    display: flex;
}
.chat-preview--body-unit:hover {
    background: #dcf1fa;
}
.chat-preview--body-unit .active {
    background: #c7edfc;
}

.preview-img img {
    width: 45px;
    border-radius: 50%;
}
.preview-info {
    width: 100%;
    padding-top: 1%;
}
.preview-info .name {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.preview-info .name span {
    margin-left: 35%;
    font-weight: normal;
    font-size: 14px;
}
.preview-info .message {
    width: 60%;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.chat-body {
    width: 100%;
    background: white;
    border-left: 1px solid rgba(213, 217, 222, 1);
}

.chat-body--top {
    height: 68px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(213, 217, 222, 1);
    padding-top: 10px;
}

.chat-body--top .name {
    padding-left: 10px;
}
.chat-body--top .status {
    padding-left: 20px;
    display: flex;
}
.chat-body--top .status-icon {
    margin-top: 5px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.chat-body--info {
    width: 100%;
    height: calc(100vh - 210px);
    overflow-y: auto;
}
.chat-body--info::-webkit-scrollbar {
    width: 8px;
}
.chat-body--info::-webkit-scrollbar-track {
    background: white;
}
.chat-body--info::-webkit-scrollbar-thumb {
    background: #d4aa70;
}
.chat-body--info::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.chat-body--info-unit-send {
    width: 100%;
    padding-left: 66%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-body--info-unit-send .info-send {
    background-color: #c7edfc;
    padding: 10px;
    max-width: 300px;
    border-radius: 5px;
    font-size: 15px;
    display: block;
}
.chat-body--info-unit-send .info-send p {
    word-wrap: break-word;
}

.chat-body--info-unit-take {
    display: flex;
    padding: 10px 0 10px 0;
}
.info-take-img img {
    width: 45px;
    border-radius: 50%;
}

.chat-body--info-unit-take .info-take {
    margin-left: 10px;
    background-color: #f2f6f9;
    padding: 1%;
    max-width: 300px;
    border-radius: 5px;
    font-size: 15px;
    display: block;
}
.chat-body--info-unit-take .info-take p {
    word-wrap: break-word;
}

.chat-body--send {
    width: 100%;
    height: 68px;
    padding-top: 14px;
    padding-left: 10px;
    position: relative;
}
.chat-body--send *{

}
.chat-body--send .sent-text{
    padding-top: 15px;
}
.chat-body--send input {
    width: 60%;
    height: 40px;
    background-color: #e5e4e8;
    padding-left:20px ;
    border-radius: 50px;
}
.chat-body--send input::placeholder {
   padding-left:10px ;
}
.chat-body--send .sent-text button {
    position: relative;
    top: 5px;
    font-weight: bold;
    border-radius: 50%;
    margin-left: 1%;
    width: 40px;
    height: 40px;
    background-color: #009ee4;
    cursor: pointer;
}
.sent-img{
    position: absolute;
    bottom: 60px;
    width: 98%;
    background-color: #e5e4e8;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
}

.sent-img::-webkit-scrollbar {
    width: 8px;
}
.sent-img::-webkit-scrollbar-track {
    background: white;
}
.sent-img::-webkit-scrollbar-thumb {
    background: aqua;
}
.sent-img::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.sent-img--unit{
    padding: 0 20px 0 20px;
    margin-top: 10px;
}
.btn-send-img{
    background-color: #e5e4e8 !important;
}
.btn-delete{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.btn-delete-img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.btn-add-img{
    margin-top: 10px;
    height: calc(100% - 10px);
    width: 40px;
    background-color: #8a8d91;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
